* {
    box-sizing: border-box;
    background-color: rgb(169, 92, 104);
    color:rgb(225, 182, 52);
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}


/* Resize images
.container img {
    width: 100%;
    height: auto;
} */

.links {
    display: flex;
    flex-wrap: inline-block;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    padding: 10px;
}

.header, .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.header h1, .contact h1 {
    font-size: 68px;
    padding: 40px;
    margin: 40px;
}

.header nav, .contact nav {
    padding: 30px;
    margin: 30px;
    font-size: 24px;
}

.header nav ul, .contact nav ul {
    list-style: none;
}

.header nav ul li, .contact nav ul li {
    display: inline;
    padding: 0px 40px;
}

a {
    text-decoration: none;
}

.about, .work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    margin: 40px;
}

.heading {
    flex: 1 0 50%;
}

.heading h1 {
    font-size: 68px;
    height: 300px;
}

.about .blurb, .work .projects {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;
    width: 50%;
}

.about .blurb p {
    display: flex;
    flex-wrap: wrap;
    text-align: flex-start;
    font-size: 26px;
    line-height: 1.5;
    padding: 40px 0px;
}

.work .projects header {    
    padding: 30px 10px 5px 10px;
    font-size: 26px;
    /* font-weight: bold; */
    text-align: center;
}

.work .projects .app-large {
    width: 100%;
    min-width:50%;
    font-size: 16px;
    transition: width 0.5s linear;
}

.work .projects .app-small {
    flex: 1 0 50%;
    width: 50%;
    justify-content: space-between;
    min-width:25%;
    font-size: 16px;
    padding: 40px 15px 15px 15px;
}

/* .work .projects .app-large img:hover {
    opacity: 0.7;
}

.work .projects .app-small img:hover {
    opacity: 0.7;
} */


/* Large smartphones */
  @media screen and (max-width: 768px){

    main {
        display: flex;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        flex-wrap: inline-block;
        justify-content: space-around;
        font-size:  14px;
        align-items: center;
        padding: 8px;
    }
    
    .header, .contact {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px;
        justify-content:space-between;
    }
    
    .header h1, .contact h1 {
        font-size: 26px;
        padding: 10px;
        margin: 10px;
    }
    
    .header nav, .contact nav {
        padding: 10px;
        margin: 10px;
        font-size: 16px;
    }
    
    .header nav ul, .contact nav ul {
        list-style: none;
    }
    
    .header nav ul li, .contact nav ul li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    a {
        text-decoration: none;
    }
    
    .about, .work {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        margin: 10px;
    }
    
    .heading {
        flex: 1 0 50%;
    }
    
    .heading h1 {
        font-size: 20px;
        height: 100px;
        padding: 10px;
        margin: 10px;
    }
    
    .about .blurb, .work .projects {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 50%;
        width: 50%;
    }
    
    .about .blurb p {
        display: flex;
        flex-wrap: wrap;
        text-align: flex-start;
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 0px;
    }
    
    .work .projects header {    
        padding: 20px 5px 5px 5px;
        font-size: 14px;
        text-align: center;
    }
    
    .work .projects .app-large {
        width: 100%;
        min-width:50%;
        transition: width 0.5s linear;
    }

    .work .projects .app-small {
        flex: 1 0 50%;
        width: 50%;
        justify-content: space-between;
        min-width:25%;
        font-size: 14px;
        padding: 20px 10px 10px 10px;
    }
    
    /* .work .projects .app-large img:hover {
        opacity: 0.7;
    }
    
    .work .projects .app-small img:hover {
        opacity: 0.7;
    } */

  }



  /* Small smartphones */
  @media screen and (max-width: 576px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        flex-wrap: inline-block;
        justify-content: space-around;
        font-size:  8px;
        align-items: center;
        padding: 5px;
    }
    
    .header, .contact {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        margin: 5px;
        justify-content:space-between;
    }
    
    .header h1, .contact h1 {
        font-size: 16px;
        padding: 5px;
        margin: 5px;
    }
    
    .header nav, .contact nav {
        padding: 5px;
        margin: 5px;
        font-size: 10px;
    }
    
    .header nav ul, .contact nav ul {
        list-style: none;
    }
    
    .header nav ul li, .contact nav ul li {
        display: inline-block;
        padding: 0px 5px;
    }
    
    a {
        text-decoration: none;
    }
    
    .about, .work {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px;
        margin: 5px;
    }
    
    .heading {
        flex: 1 0 50%;
    }
    
    .heading h1 {
        font-size: 14px;
        height: 100px;
        padding: 5px;
        margin: 5px;
    }
    
    .about .blurb, .work .projects {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 50%;
        width: 50%;
    }
    
    .about .blurb p {
        display: flex;
        flex-wrap: wrap;
        text-align: flex-start;
        font-size: 10px;
        line-height: 1.5;
        padding: 5px 0px;
    }
    
    .work .projects header {    
        padding: 10px 5px 5px 5px;
        font-size: 8px;
        text-align: center;
    }
    
    .work .projects .app-large {
        width: 100%;
        min-width:50%;
        transition: width 0.5s linear;
    }
    

    .work .projects .app-small {
        flex: 1 0 50%;
        width: 50%;
        justify-content: space-between;
        min-width:25%;
        font-size: 12px;
        padding: 10px 3px 3px 3px;
    }
    
    /* .work .projects .app-large img:hover {
        opacity: 0.7;
    }
    
    .work .projects .app-small img:hover {
        opacity: 0.7;
    } */

  }


