* {
  box-sizing: border-box;
  background-color: rgb(169, 92, 104);
  color:rgb(225, 182, 52);
  }
  
  body {
  margin: 0;
  }
  
  main {
  display: flex;
  flex-wrap: wrap;
  }
  
    /* links at header  */
  .header {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-end;
  padding: 50px 0px 0px 0px;
  font-size: 24px;
  /* height: 200px; */
  }
  
  /* hi there i'm candice header title */
  .header h1 {
  font-size: 68px;
  /* padding: 50px 0px 0px 0px; */
  }
  
  /* links at footer  */
  .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-end;
  padding: 200px 0px 50px 0px;
  font-size: 24px;
  }
  
  /* learn more footer title */
  .footer h1 {
  font-size: 48px;
  }
  
  /* navigation and footer link layout */
  .navigation ul, .footer ul {
  list-style: none;
  display: inline-flex;
  }
    
  .navigation ul li, .footer ul li {
  /* display: inline-flex; */
  padding: 0px 20px;
  justify-content: flex-end;
  }
  
  /* about and work sections  */
  .about, .work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  margin: 40px;
  }
  
  .about p {
  display: flex;
  flex-wrap: wrap;
  text-align: flex-start;
  font-size: 20px;
  line-height: 1.5;
  padding: 40px 0px;
  }
  
  .project {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
  transition: width 0.5s linear;
  justify-content: space-between;
  /* font-size: 26px; */
  padding: 0px 15px 15px 15px;
  }
  
  .project-img, .about-img {
  width: 45%;
  margin: 5px;
  }
            
  .project-img img, .about-img img {
  width: 100%;
  }
  
  /* individual projects titles */
  .project h2 {    
  padding: 20px 10px 5px 10px;
  font-size: 20px;
  /* font-weight: bold; */
  text-align: center;
  }
  
  /* github and deployed app links */
  .project-links {
  display: flex;
  flex-wrap: inline-block;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  }
  
  .github-link:hover {
  opacity: 0.7;
  }
    
  .deployed-link:hover {
  opacity: 0.7;
  }
  
  /* contact section */
  .contact {
  padding: 100px 0px 50px;
  }
  
  /* contact-form submit button */
  .button {
  background-color: rgb(225, 182, 52);
  border: none;
  color: rgb(169, 92, 104);
  padding: 10px 22px;
  margin: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  
  
  
/* Large smartphones */
@media screen and (max-width: 768px){
  
  /* links at header  */
  .header {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-end;
  padding: 50px 0px 0px 0px;
  font-size: 20px;
  }
  
  /* hi there i'm candice header title */
  .header h1 {
  font-size: 48px;
  }
      
  /* links at footer  */
  .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-end;
  padding: 100px 0px 40px 0px;
  font-size: 20px;
  }
      
  /* learn more footer title */
  .footer h1 {
  font-size: 38px;
  }
      
  /* navigation and footer link layout */
  .navigation ul, .footer ul {
  list-style: none;
  display: inline-flex;
  }
        
  .navigation ul li, .footer ul li {
  /* display: inline-flex; */
  padding: 0px 15px;
  justify-content: flex-end;
  }
      
  /* about and work sections  */
  .about, .work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  margin: 30px;
  }
      
  .about p {
  display: flex;
  flex-wrap: wrap;
  text-align: flex-start;
  font-size: 20px;
  line-height: 1.5;
  padding: 30px 0px;
  }
      
  .project {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
  transition: width 0.5s linear;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  }
      
  .project-img, .about-img {
  width: 45%;
  margin: 5px;
  }
                
  .project-img img, .about-img img {
  width: 100%;
  }
      
  /* individual projects titles */
  .project h2 {    
    padding: 18px 8px 4px 8px;
    font-size: 20px;
    text-align: center;
  }
      
  /* github and deployed app links */
  .project-links {
  display: flex;
  flex-wrap: inline-block;
  justify-content: space-around;
  font-size: 16px;
  align-items: center;
  }
        
  /* contact section */
  .contact {
  padding: 80px 0px 30px;
  }
      
  /* contact-form submit button */
  .button {
  background-color: rgb(225, 182, 52);
  border: none;
  color: rgb(169, 92, 104);
  padding: 6px 16px;
  margin: 8px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  }
}
  
  
/* Small smartphones */
@media screen and (max-width: 576px) {
          
  /* links at header  */
  .header {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-end;
  padding: 30px 0px 0px 0px;
  font-size: 16px;
  }
          
  /* hi there i'm candice header title */
  .header h1 {
  font-size: 38px;
  }
              
  /* links at footer  */
  .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-end;
  padding: 100px 0px 40px 0px;
  font-size: 12px;
  }
              
  /* learn more footer title */
  .footer h1 {
  font-size: 28px;
  }
              
  /* navigation and footer link layout */
  .navigation ul, .footer ul {
  list-style: none;
  display: inline-flex;
  }
                
  .navigation ul li, .footer ul li {
  padding: 0px 10px;
  justify-content: flex-end;
  }
              
  /* about and work sections  */
  .about, .work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  }
              
  .about p {
  display: flex;
  flex-wrap: wrap;
  text-align: flex-start;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px 0px;
  }
              
  .project {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 12px;
  transition: width 0.5s linear;
  justify-content: space-between;
  padding: 0px 8px 8px 8px;
  }
              
  .project-img, .about-img {
  width: 45%;
  margin: 5px;
  }
                        
  .project-img img, .about-img img {
  width: 100%;
  }
              
  /* individual projects titles */
  .project h2 {    
  padding: 14px 4px 4px 4px;
  font-size: 14px;
  text-align: center;
  }
              
  /* github and deployed app links */
  .project-links {
  display: flex;
  flex-wrap: inline-block;
  justify-content: space-around;
  font-size: 12px;
  align-items: center;
  }
                
  /* contact section */
  .contact {
  padding: 40px 0px 20px;
  }
              
  /* contact-form submit button */
  .button {
  background-color: rgb(225, 182, 52);
  border: none;
  color: rgb(169, 92, 104);
  padding: 4px 12px;
  margin: 6px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  }
}
  